@tailwind base;
@tailwind components;
@tailwind utilities;



@font-face {
  font-family: "Roc Grotesk";
  src: url("/fonts/Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roc Grotesk";
  src: url("/fonts/Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}




body {
  font-family: "Roc Grotesk", system-ui, sans-serif;
}
a, button, ol{
	font-weight: 500;
}






/* COLORES POLO */
:root {
	
	--bg-black: #000000;

	--polo-blue: #0265FF;



	--txt-white: #ffffff;
	--gray-desc-blackSite: #fff;
}


































.cont-max{
	margin: 0 auto 0 auto;
}

/* Mobile: 0 – 479 */
@media screen and (max-width: 479px) {

	.cont-max{
		max-width: 375px;
	}
 }

/* 480 – 767 */
@media screen and (min-width: 480px) and (max-width: 767px) {
	.cont-max{
		max-width: 450px;
	}

 }

/* 768 – 991 */
@media screen and (min-width: 768px) and (max-width: 991px) { 

	.cont-max{
		max-width: 728px;
	}
}

/* 992 – 1279 */
@media screen and (min-width: 992px) and (max-width: 1279px) {
	.cont-max{
		max-width: 940px;
	}
 }

/* 1280 – 1439 */
@media screen and (min-width: 1280px) {
	.cont-max{
		max-width: 1224px;
	}
}

/* 1440 -> */
@media screen and (min-width: 1440px) {
	.cont-max{
		max-width: 1272px;
	}
}
