@tailwind base;
@tailwind components;
@tailwind utilities;


* {
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
}

@font-face {
  font-family: "Roc Grotesk";
  src: url("/fonts/Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roc Grotesk";
  src: url("/fonts/Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: "Roc Grotesk", system-ui, sans-serif;
}

h1, a, button, ol, span{
	font-weight: 500;
}
p{
	font-weight: 400;
}




/* ====== COLORES POLO ====== */

:root {
	
	--bg-black: #000000;

	--polo-blue: #0265FF;



	--txt-white: #ffffff;
	--gray-desc-blackSite: rgba(255, 255, 255, 0.6);
	--gray-desc-WhiteSite: rgba(0, 0, 0, 0.6);

}




	/* button base */

	.btn {
		display: flex;
		gap: 6px;
		font-size: 14px;
		display: flex;
		height: 40px;
		padding: 0 24px;
		justify-content: center;
		align-items: center;
		border-radius: 24px;
		backdrop-filter: blur(12px);
		text-decoration: none;
		cursor: pointer;

	}
	.icon-fa-14{
		font-size:14px;
	}
	.icon-fa-12{
		font-size:12px;
	}




























.cont-max{
	margin: 0 auto 0 auto;
}

/* Mobile: 0 – 479 */
@media screen and (max-width: 479px) {

	.cont-max{
		max-width: 375px;
	}
 }

/* 480 – 767 */
@media screen and (min-width: 480px) and (max-width: 767px) {
	.cont-max{
		max-width: 450px;
	}

 }

/* 768 – 991 */
@media screen and (min-width: 768px) and (max-width: 991px) { 

	.cont-max{
		max-width: 728px;
	}
}

/* 992 – 1279 */
@media screen and (min-width: 992px) and (max-width: 1279px) {
	.cont-max{
		max-width: 940px;
	}
 }

/* 1280 – 1439 */
@media screen and (min-width: 1280px) {
	.cont-max{
		max-width: 1224px;
	}
}

/* 1440 -> */
@media screen and (min-width: 1440px) {
	.cont-max{
		max-width: 1272px;
	}
}
